@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@700&display=swap');

.timer-ring {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-ring-inner {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mengatur ring untuk transisi warna yang halus */
.timer-ring::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(-90deg);
  background: conic-gradient(
    var(--ring-from-color) 0deg,
    var(--ring-to-color) var(--ring-degree),
    #e5e7eb var(--ring-degree)
  );
  transition: all 0.5s ease-in-out;
}

/* Efek khusus untuk Dark Mode */
html.dark .timer-ring-inner {
  background-color: #334155;
  box-shadow: none;
}

html.dark .timer-ring::before {
  background: conic-gradient(
    var(--ring-from-color) 0deg,
    var(--ring-to-color) var(--ring-degree),
    #1f2937 var(--ring-degree)
  );
}